html {
  height: 100%;
  border: 1px solid red;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: Comic, fantasy;
  border: 1px solid red;
}

.hidden {
  display: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 20px;
}

aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15%;
  height: auto;
  border: 2px;
  border-color: #000000;
  background-image: linear-gradient(to bottom, white, grey, black);
  overflow: auto;
}

.change-game {
  height: 75px;
  width: 150px;
  margin-top: 150%;
  background-color: rgba(255, 255, 255, 0.4);
}

.gameplay-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: auto;
  background-image: url(backgroundimage.jpeg);
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: auto;
}

button {
  display: block;
  height: 185px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
  margin-top: 40px;
  white-space: normal;
  font-family: Comic, fantasy;
  font-style: oblique;
  font-size: 17px;

}

button:hover {
  color: #ffffff;
  border: #ff7a59 solid 1px;
  background: #000000;
  transition: all 0.3s ease;
}

.human-container {
  border-right-style: solid;
}

.computer-container {
  border-left-style: solid;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-top: 30%;
  overflow: auto;
}

img {
  height: 60%;
  weight: 60%;
}
